.obsidian/plugins/obsidian-smart-typography/main.js
.obsidian/plugins/obsidian-smart-typography/manifest.json
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/graph.json
.obsidian/publish.json
.obsidian/workspace.json